@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Merriweather";
}
header{
    background-color: rgb(192, 138, 100);
    height: 10vh;
}
main{
    background-color:whitesmoke;
    height: 100vh;
}

footer{
    background-color: rgb(32,1,1);
    height: 10vh;

    display:flex;
    justify-content: center;
    align-items:center ;

    p {
        color:blanchedalmond;
    }
}